<div class="boxed">
<p>
  <h2><%= @post.title %></h2> by: <%= @post.user.name %><br>
  <%= last_updated @post %>
</p>

<p>
  <%= @post.content %>
</p>

<h5>TAGS:
  <% if @post.tags.empty? %>
    No tags for this post.
  <% else %>
    <% @post.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  <% end %>
</h5>


</div>


<% if @post.comments.empty? %>
  No one has commmented yet.
<% else %>
  Comments:<br>
  <% @post.comments.each do |comment| %>  
   <li><%= comment.content %> by <%= comment.username %></li>
  <% end %>
<% end %>

<p>
See all comments for this post: <%= link_to 'Comments', post_comments_path(@post) %>
</p>


<%= render "/comments/form" %>

<% if can? :edit, Post %>
  <%= link_to 'Edit Post', edit_post_path(@post) %> |
<% end %>

<% if can? :destroy, Post %>
  <%= link_to 'Delete Post', post_path(@post), :method => :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>
<%= link_to 'Back', posts_path %>
</p>