<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Comment:</strong>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li> by <%= comment.username %>
  <% end %>
</p>

<% if can? :edit, Post %>
  <%= link_to "Edit this post", edit_post_path(@post) %>
<% end %>


<%= render "/comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
