<p>
  <strong>Title:</strong>
  <%= @post.title %>, <%= last_updated @post %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>By:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Comment:</strong>
  <% @post.comments.each do |comment| %>
      <li><%= comment.content %></li> by <%= comment.username %>
  <% end %>

  See all comments for this post: <%= link_to 'Comments', post_comments_path(@post) %>

</p>


<%= render "/comments/form" %>

<% if can? :edit, Post %>
  <%= link_to 'Edit Post', edit_post_path(@post) %> |
<% end %>

<% if can? :destroy, Post %>
  <%= link_to 'Delete Post', post_path(@post), :method => :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>
<%= link_to 'Back', posts_path %>
</p>